* {
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

.lcd:hover > div:first-child {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.lcd > div:first-child {
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
}

.lcd {
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #212529;
}

::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 4px;
}
